.loginDiv{
    margin: 0;
    min-height: 100vh;
    background: #914600;
  background: linear-gradient(90deg, rgba(87, 28, 12, 0.72) 0%, rgb(255, 111, 0) 100%);
  }

.loginManeuvers{
  display: flex;
  flex-direction: column;
  justify-content:space-around ;
  height: 90vh;
}

.loginSquare{
  color: #e76a12;
  border: 3px #dcdcdc solid;
  background-color: #dcdcdc;
  border-radius: 3px;
    text-align: center;
    background-color: white;
    width: 25%;
    margin-left: 37.5%;
}