/*app.css*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@font-face {
  font-family: "";
  src: url("./assets/fonts/Helvetica-Oblique.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.selected{
  border: 3px;
  border-radius: 2px;
  border-color: green;
}


body {
  font-family: "helvetica", serif;
  background-color: white;
}


.one-calibration{
  height: 34vh;
}


.image-calibration{
  width: 30%;
}

.under-nav{
  background-image: url("../src/components/under-nav.jpg");
}

.under-nav-calibration{
  width: 90%;
  z-index: -1;
  padding: 5%;
}

.map-calibration{
  width: 50%;
  border-radius: 5px;
}