/*app.css*/

@font-face {
  font-family: "";
  src: url("./assets/fonts/Helvetica-Oblique.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: "helvetica", serif;
  background-color: white;
}


.one-calibration{
  height: 34vh;
}


.image-calibration{
  width: 30%;
}

.under-nav{
  background-image: url("../src/components/under-nav.jpg");
}

.under-nav-calibration{
  width: 90%;
  z-index: -1;
  padding: 5%;
}

.map-calibration{
  width: 50%;
  border-radius: 5px;
}